body {
  padding: 0px 2px;
  max-width: 995px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-stretch: narrower;
  color: #4d4d4d;
}
.body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
h2 {
  font-size: 16px;
  font-style: italic;
}
.currently {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 27px;
  padding-left: 12px;
  border-radius: 12px;
  margin-bottom: 16px;
  margin-top: -12px;
  padding-top: 12px;
}
.button-search {
  border-radius: 3px;
  border: 1px rgb(235, 232, 232);
  background-color: rgb(220, 185, 174);
  color: white;
  padding: 5px 15px;
  transition: all 200ms ease-in-out;
  margin-left: 8px;
  margin-right: 10px;
  display: block;
}
.current-button {
  border-radius: 4px;
  border: 1px rgb(235, 232, 232);
  background-color: rgb(211, 117, 130);
  color: white;
  padding: 1px 12px;
  transition: all 200ms ease-in-out;
  margin-left: 685px;
  display: inline-block;
}

.fas {
  color: #fcfcfc;
  margin: 0 auto;
  font-size: 35px;
}
.city {
  font-size: 70px;
  margin-left: 50px;
  text-align: left;
}
.temp {
  margin-left: 20px;
  text-align: center;
  display: block;
  font-size: 30px;
}
.temperature {
  font-size: 50px;
  position: block;
  text-align: center;
  display: block;
  margin-left: 60px;
}
.unit {
  position: relative;
  text-align: center;
  font-size: 28px;
  margin-top: auto;
  margin-bottom: 44px;
  cursor: pointer;
}

.wind {
  font-style: italic;
  font-size: 18px;
}
.weatherType {
  font-size: 36px;
  display: block;
  text-align: center;
  margin-top: -12px;
  margin-left: 12px;
}

.sun {
  margin-left: 10px;
  float: left;
  width: 400px;
  display: block;
  margin-top: -120px;
  margin-bottom: 30px;
}

.forecast h4 {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  height: 15px;
  text-align: center;
  color: #101010;
  padding-top: 5px;
}
.forecast img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  display: center;
}
.forecast-temp {
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  height: auto;
  color: #dbdbdb;
}
.weather-forecast-temperature {
  font-size: 15px;
  text-align: center;
  color: #4d4d4d;
}

.weather-forecast-temperature:first-letter {
  text-transform: capitalize;
}
